# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might be created by Mac's Finder
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Vim swap files (so you don't commit temporary edits)
*.swp
*.swo
