# Enable dark mode on startup
startup_commands toggle_dark_mode

dark_mode_contrast 0.9

# Professional Dark Mode (Background, Text)
# These are normalized RGB (0.0 - 1.0)
dark_mode_background_color    0.0 0.0 0.0
custom_background_color       0.0 0.0 0.0
custom_text_color             1.0 1.0 1.0

# Disable the smart overview rerendering (the "black screen" culprit)
rerender_overview 0

# Simplify the TOC (prevents the 't' hang)
flat_toc 1

# Increase the startup performance by disabling pre-indexing
should_launch_new_window 1

# jesus christ this app by default hangs to bake the pre  built hyperlinks
align_link_dest_to_top 1


# Limit the page cache 
page_cache_size 5

# Stop rendering ahead
should_draw_unrendered_pages 0

# Disable pre-loading of the next document
prerender_next_page 0

# Limit texture size
texture_cache_size 512

# Restrict the number of pages prerendered in the background
prerendered_page_count 2

# Limit the maximum number of pages cached in memory
num_cached_pages 5
